.div {
    display: flex;
    justify-content: center;
}

.divText {
    font-size: 1.2rem;
    color: #000000;
    text-align: center;
}

.divText.link {
    text-decoration: underline;
    color: #000;
    transition: color 0.3s ease-in-out;
}

.divText.link:hover {
    color: #514242;
    transition: color 0.3s ease-in-out;
}

.socialIcon {
    width: 50px;
    fill: #2e2828;
    
    height: 50px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid;
    margin: 15px;
    
    transform: scale(1,1);
    background-color: #bcb9b9;
    border-color: black;
    filter: invert(0%);
    transition: filter 0.15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;

}

.socialIcon:hover {
    background-color: white;
    border-color: white;
    filter: invert(100%);
    transition: filter 0.15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.footer {
    height: 20vh;
    grid-row-start: 3;
    display: grid;
    background-color: #bcb9b9;
    z-index: 1000;
}

@media (max-width: 450px) {
    .divText {
        font-size: 1rem;
    }

    .socialIcon {
        width: 40px;
        height: 40px;
        padding: 3px;
        margin: 10px;
    }
}