:root{
    --player-bg-color: #f8f9fa;
    --player-bg-color-darken: #d8dadb;
}

.musicPlayer {
    display: grid;
    grid-template-columns: 300px auto;
    justify-self: center;
    width: 90%;
    gap: 0.5rem;
    background-color: var(--player-bg-color);
    border: 1px solid #ddd;
    border-radius: 0.75rem;
    padding: 1rem;
}

.progBarAndTime {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
}


.playPauseBtn {
    background-color: #ff8400; /* inverse of #007bff */
    border: none;
    color: white;
    padding: 0.4rem 0.75rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.2s ease;
    filter: invert(1);

    display: flex;
}

.playPauseBtn:hover {
    background-color: #ffbc74;
}

.progressContainer {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    flex: 1;
    min-width: 5rem;
}


.progressContainer input[type="range"] {
    flex: 1;
    cursor: pointer;
    accent-color: #007bff;
}

.progressTrack {
  position: relative;
  width: 100%;
  height: 8px;
  background-color: #e9ecef;  /* gray background  */
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
}

.progressFill {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 8px;
  width: 100%;
  background-color: #007bff;  /* blue progress */ 
  transition: width 0.2s linear;
} 

.time {
    font-size: 0.75rem;
    font-family: "DejaVu Sans Mono", monospace;
    color: #333;
    min-width: 60px;
    text-align: right;
}

.btnsAndBar {
    display: flex;
    gap: 0.5rem;
    width: 100%;
}

.volumeContainer {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}


.volumeContainer input[type="range"] {
    width: 80px;
    cursor: pointer;
    accent-color: #007bff;
}

.trackInfoDiv {
    display: flex;
    align-items: start;
    flex-direction: column;
    padding: 10px;
    gap: 0.5rem;
}

.trackInfo {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 0.5rem;
}

.trackTitle {
    font-weight: bold;
    font-family: 'DejaVu Sans Mono', monospace;
    font-size: 2.5rem;
    color: #000000;
    text-align: center;
}

.trackArtist {
    font-weight: bold;
    font-family: 'DejaVu Sans Mono', monospace;
    font-size: 1.4rem;
    color: #212529;
    text-align: center;
}

.trackDateGenre {
    font-size: 1rem;
    font-family: 'DejaVu Sans Mono', monospace;
    color: #495057;
    text-align: center;
}

.trackCover {
    width: 250px;
    height: 250px;
    border: 2px solid #494949;
    border-radius: 10px;
    object-fit: cover;

    display: flex;
    justify-self: center;
}

.coverCaption {
    font-size: 0.75rem;
    color: #000;
    font-style: italic;
    text-align: center;
    font-family: "DejaVu Sans Mono", monospace;
}

.visualizer {
    width: 75%;
    height: 60px;
    background-color: rgba(10, 2, 37);
    border-radius: 4px;
    border: 2px solid #494949;
}

.coverAndVisualizer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.volumeControl {
    display: flex;
    align-items: center;
}

.volumeSlider {
    width: 5rem;
    scale: 0.9;
    display: flex;
    align-self: center;

    accent-color: #0055af;
    transition: accent-color 0.2s ease;
}

.controlBtnIcon {
    background-color: var(--player-bg-color);
    transition: background-color 0.2s ease;
    
    border: none;
    border-radius: 6px;
    padding: 3px;
    display: flex;
    align-content: center;
    cursor: pointer;
}

.controlBtnIcon:hover {
    background-color: var(--player-bg-color-darken);
    transition: background-color 0.2s ease;
}


.seekBtn {
    background-color: var(--player-bg-color);
    transition: background-color 0.2s ease;

    font-family: "DejaVu Sans Mono", monospace;
    border: none;
    color: #000;
    padding: 3px;
    border-radius: 6px;
    display: flex;
    

}

.seekBtn:hover {
    background-color: var(--player-bg-color-darken);
    transition: background-color 0.2s ease;
    cursor: pointer;
}

.playbackSpeed {
    font-family: "DejaVu Sans Mono", monospace;
    font-size: 0.9rem;
    color: #000;
}

.playbackSelect {
    margin-left: 0.25rem;
    
    background-color: #0055af;
    transition: background-color 0.2s ease;

    font-family: "DejaVu Sans Mono", monospace;
    font-size: 0.9rem;
    padding: 2px;
    border-radius: 6px;
}

.playbackSelect:hover {
    background-color: #00438b;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

.trackDesc {
    height: auto;
    
    font-size: 1rem;
    color: #333;
    text-align: left;
    font-family: "Lora", serif;
}

.controlsPartitionOne {
    display: flex;
    gap: 0.5rem;
}

.controlsPartitionTwo {
    display: flex;
    gap: 0.5rem;
}

@media (max-width: 980px) {
    .musicPlayer {
        grid-template-columns: 1fr;
        width: 95%;
    }
    .trackCover {
        width: 200px;
        height: 200px;
    }
    .visualizer {
        width: 100%;
    }
    .trackTitle {
        font-size: 2rem;
    }
    .trackArtist {
        font-size: 1.2rem;
    }
    .trackDateGenre {
        font-size: 0.9rem;
    }
    .controls {
        gap: 0.75rem;
    }
    .btnsAndBar {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 0.75rem;
    }
    .visualizer {
        height: 50px;
        width: 60%;
    }
}

@media (max-width: 570px) {
    .musicPlayer {
        max-width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .trackCover {
        width: 150px;
        height: 150px;
    }
    .trackTitle {
        font-size: 1.5rem;
    }
    .trackArtist {
        font-size: 1rem;
    }
    .trackDateGenre {
        font-size: 0.8rem;
    }
    .visualizer {
        height: 40px;
        width: 80%;
    }
    .trackInfoDiv {
        display: flex;
        grid-template-rows: 1fr;
        align-items: center;
    }
    .trackInfo {
        align-items: center;
        text-align: center;
    }
    .btnsAndBar {
        display: flex;
        flex-direction: column;
    }
    .playPauseBtn {
        margin: auto;
    }
    .progBarAndTime {
        display: flex;
        justify-content: center;
    }
    .controls {
        display: flex;
        flex-direction: column;
    }
}