.postFeedContainer {
    display: grid;
    justify-content: left;
    padding: 20px;
    background-color: rgba(0,0,0,0);
}

.postFeedCard {
    display: grid;
    align-items: center;
    justify-content: center;
    
    padding: 20px;
    text-align: left;
    gap: 1rem;

    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    
    height: auto;
    max-height: 15rem;
    max-width: 20rem;

}

.postFeedWrapper {
    padding: 1rem;
    display: grid;
    align-items: center;
    align-content: center;
    
    transform: scale(1, 1);
    transition: transform 0.3s ease-in-out;
}

.postFeedWrapper:hover {
    transform: scale(1.05, 1.05);
    transition: transform 0.3s ease-in-out;
    
    cursor: pointer;
}

.postFeed {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    justify-content: center;
    gap: 1rem;
    padding: 20px;
}

.postFeedHeader {
    font-size: 2rem;
    font-family: "DejaVu Sans Mono", monospace;
    color: #000;
    text-align: left;

}

.postTitle {
    font-size: 1.5rem;
    font-family: "DejaVu Sans Mono", monospace;
    color: #000;
}

.postDesc {
    font-size: 1rem;
    font-family: "DejaVu Sans Mono", monospace;
    color: #000;
}

.metaInfo {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
}

.metaInfoIcon {
    width: 20px;
    height: 20spx;
    color: #484747;
}

.metaInfoDiv {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.metaInfoText {
    font-family: 'DejaVu Sans Mono', monospace;
    font-size: 0.9rem;
    color: #484747;
    text-align: left;
}

.seeMore {
    font-size: 1.5rem;
    font-family: "DejaVu Sans Mono", monospace;
    color: #000;
    text-align: center;
    
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    transition: background-color 0.3s ease-in-out;

    margin-left: auto;
    margin-right: auto;
}

.seeMore:hover {
    background-color: #f0f0f0;
    transition: background-color 0.3s ease-in-out;
}


/* Tablet */
@media (max-width: 1180px) {
    .postFeedHeader {
        text-align: center;
    }
}



@media (max-width: 900px) {
    .postFeed {
        grid-template-columns: repeat(2, 1fr);
    }

}

/* Mobile */
@media (max-width: 600px) {
    .postFeed {
        grid-template-columns: 1fr;
        padding: 10px;
        gap: 0.5rem;
    }

    .seeMore {
        font-size: 1.4rem;
        padding: 8px;
    }

}