.navbar {
    display: flex;
    justify-self: center;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #bcb9b9;
    gap: 1rem;

    /* Centering */
}

.div {
    display: flex;
}

.navbarButton {
    display: none;
    height: 50%;
    align-self: center;
    margin-left: auto;
    margin-right: 20px;
    padding: 10px;
    justify-self: left;
    font-size: 1.5rem;
    color: #2e2828;
    text-align: center;
    padding: 5px;
    background-color: #bcb9b9;
    transition: background-color 0.3s ease-in-out;
    border-radius: 5px;
}

.navButton:hover {
    background-color: #9b9999;
    transition: background-color 0.3s ease-in-out;
}



.logo {
    transform: scale(1,1);
    transition: transform 0.1s ease-in-out;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #2e2828;
    margin: 15px;
}

.logo:hover {
    transform: scale(1.1,1.1);
    transition: transform 0.1s ease-in-out;
}

.divText {
    font-size: 1.5rem;
    color: #2e2828;
    text-align: center;
    padding: 5px;
    background-color: #bcb9b9;
    transition: background-color 0.3s ease-in-out;
    border-radius: 8px;
}

.divText:hover {
    background-color: #9b9999;
    transition: background-color 0.3s ease-in-out;
}

.headerFixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    grid-row-start: 3;
    display: flex;
    gap: 1rem;
    background-color: #bcb9b9;
    z-index: 500;

    transform: translateY(-100%);
    transition: transform 0.1s ease-in-out;
}

.headerFixed.visible {
    transform: translateY(0);
    z-index: 500;
}

.header {
    position: sticky;
    grid-row-start: 3;
    display: flex;
    gap: 1rem;
    background-color: #bcb9b9;
    z-index: 1000;
}

@media (max-width: 450px) {
    .navbar {
        position: relative;
        display: none;
        flex-direction: column;
        width: 100%;
        z-index: 0;
    }

    .div {
        position: relative;
        z-index: 1000;
    }

    .divText {
        width: 100%;
    }

    .header {
        display: grid;
        gap: 0px;
    }

    .headerFixed.visible {
        display: none;
    }

    .headerFixed {
        display: grid;
        gap: 0px;
    }

    .navbar.open {
        position: relative;
        display: flex;
        border-top: 1px solid #2e2828;
        animation: slideIn 0.3s ease-in-out forwards;
        z-index: 0;
    }

    .navbarButton {
        display: block;
    }

    @keyframes slideIn {
        from {
            transform: translateY(-100%);
        } 
        to {
            transfornm: translateY(0);
        }
    }
}