.heroContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    background-color: #f0f0f0;
}

.heroButton {
    background-color: #4CAF50;
    box-shadow: #000000 0px 1px 1px;;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: wavy;
    display: inline-block;
    font-size: 16px;
    margin: 4px 72px;
    cursor: pointer;
    border-radius: 12px;
}

.heroButton:hover {
    box-shadow: #000000 0px 0px 0px;
}

.heroText {
    font-size: 1.5rem;
    color: #000000;
    text-align: center;
}