.postDisplayCard {
    display: grid;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%;
    max-width: 600px;
    align-items: center;
    justify-content: center;
    height: auto;
    text-align: center;
}